@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-background-main: #0B132B;
  --color-background-secondary: #14213D;
  --color-background-tertiary: #1D2D50;
  
  /* CORES DE TEXTO AJUSTADAS PARA ALTO CONTRASTE */
  --color-text-main: #FFFFFF;         /* Branco Puro (Títulos) */
  --color-text-support: #D1D5DB;      /* Cinza Claro/Prata (Descrições e Labels) */
  --color-text-reading: #F3F4F6;      /* Branco Gelo (Textos de leitura longa) */
  
  --color-primary: #C5A059;
  --color-primary-hover: #A38345;
  --color-accent: #D4BC8D;
  
  --color-success: #22c55e;
  --color-danger: #ef4444;
}

@layer base {
  :root {
    --background: var(--color-background-main);
    --foreground: var(--color-text-main);
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply antialiased;
  }
}
